<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <property name="log.path" value="F:/log/sell" />

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文档的路径及文档名 -->
        <!--<file>${log.path}/info.log</file>-->
        <encoder>
            <pattern>
                %d{yyyy/MM/dd-HH:mm} [%thread] %-5level %logger- %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>
                F:/log/sell/info.%d.log
            </fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--等级-->
            <level>ERROR</level>
            <!--命中 禁止-->
            <onMatch>DENY</onMatch>
            <!--未命中 接受-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>




    <!--<appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--&lt;!&ndash; 正在记录的日志文档的路径及文档名 &ndash;&gt;-->
        <!--<file>${log.path}/info.log</file>-->
        <!--&lt;!&ndash;日志文档输出格式&ndash;&gt;-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
            <!--<charset>UTF-8</charset>-->
        <!--</encoder>-->
        <!--&lt;!&ndash; 日志记录器的滚动策略，按日期，按大小记录 &ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; 每天日志归档路径以及格式 &ndash;&gt;-->
            <!--<fileNamePattern>${log.path}/web-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>100MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
            <!--&lt;!&ndash;日志文档保留天数&ndash;&gt;-->
            <!--<maxHistory>15</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--&lt;!&ndash; 此日志文档只记录info级别的 &ndash;&gt;-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>info</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->





    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %d{yyyy/MM/dd-HH:mm} [%thread] %-5level %logger- %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <FileNamePattern>
                F:/log/sell/error.%d.log
            </FileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
            <level>ERROR</level>
        </filter>
    </appender>








    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>